@use '../../abstracts/colors';

.section-six {
  background-color: colors.$s2;
  padding: 1rem 0;
  position: relative;

  &::before {
    content: '';
    background-color: colors.$m2;
    width: 1px;
    height: 52px;
    position: absolute;
    top: -26px;
    left: 50%;
    transform: translateX(-50%);
  }

  .wpsisac-slick-slider h2.wpsisac-slide-title {
    display: none;
  }

  .quote-text {
    font-size: 45px!important;
    font-weight: bold;
    color: colors.$m1;
  }

  .gold-text {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: colors.$m2;
    text-transform: uppercase;
  }
}