@use '../../abstracts/colors';
@use '../../abstracts/breakpoints';
@use '../../abstracts/mixins';

.hero {
  margin-bottom: 100px;
  position: relative;

  .wpsisac-slick-slider img {
    width: 100%;
  }
}

.hero-info {
  font-size: 14px;
  line-height: 1.5;
  background-color: rgba(colors.$m1, 0.7);
  color: white;
  padding: 1rem;
  position: absolute;
  right: 0;
  bottom: 50px;
  z-index: 10;
  text-align: right;

  h2 {
    font-size: 34px;
    line-height: 1.2;
    margin-bottom: 20px;
  }

  p {
    margin-bottom: 15px;

    &:last-child {
      font-size: 22px;
      margin-bottom: 0;
    }
  }

  @include mixins.breakpoint(breakpoints.$bp-mobile) {
    right: 80px;
    bottom: 80px;
  }
}