@use '../../abstracts/colors';

.section-five {
  display: flex;
  margin-bottom: 100px;

  .card {
    background-color: white;
    color: colors.$d1;
    padding: 50px;

    &:nth-child(odd) {
      background-color: colors.$s2;
    }

    h2,
    h3 {
      color: colors.$m1;
    }
  }
}