@use '../../abstracts/mixins';

.section-one {
  margin-bottom: 100px;
  padding: 0 1rem;

  .container {
    display: flex;
    flex-direction: column;
    max-width: 1110px;
  }

  .card {
    flex: 1;
    background: rgb(16,59,104);
    background: radial-gradient(circle, rgba(16,59,104,1) 0%, rgba(20,45,71,1) 100%);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    max-width: 690px;
  }

  @include mixins.breakpoint(1110px) {
    
    .container {
      flex-direction: row;
      justify-content: space-between;
    }

    .card {
      margin-bottom: 0;
      max-width: 350px;
      width: 100%;
    }
  }
}