@use '../../abstracts/colors';
@use '../../abstracts/mixins';
@use '../../abstracts/breakpoints';

.section-five {
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;

  @include mixins.breakpoint(breakpoints.$bp-tablet) {
    flex-direction: row;
  }

  .card {
    background-color: white;
    color: colors.$d1;
    padding: 50px;

    &:nth-child(odd) {
      background-color: colors.$s2;
    }

    h2,
    h3 {
      color: colors.$m1;
    }
  }
}