.tabs-styled {

  .wp-block-ub-tabbed-content-tabs-title {
    border-bottom: 1px solid #dee2e6;
    max-width: 1180px;
    margin: auto;
  }

  .wp-block-ub-tabbed-content-tabs-content {
    padding-left: 0;
    padding-right: 0;
  }
}