@use '../../abstracts/breakpoints';


.single-property {

  .property-nav {
    background-color: #ddd;

    .container {
      text-align: right;
    }

    a {
      color: #142d47;
      display: inline-block;
      padding: 9px 20px;
      text-decoration: none;
      transition: 0.3s;

      &:focus,
      &:hover {
        background-color: #f1f1f1;
      }
    }
  }

  .container-area {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: space-between;
    grid-template-areas:
      "title"
      "content"
      "sidebar";
    margin: auto;
    padding: 0 1rem;

    @media (min-width: 1180px) {
      grid-template-columns: 1fr 1fr;
      gap: 20px;
      grid-template-areas: 
        "title title"
        "content sidebar";
      max-width: breakpoints.$container;
    }
  }

  .property-title {
    grid-area: title;

    h1 {
      font-size: 22px;
      font-weight: 500;
      margin-bottom: 5px;
    }
    h2 {
      font-size: 16px;
      font-weight: 400;
    }
  }

  article {
    grid-area: content;
    max-width: 330px;
    padding-bottom: 40px;

    @media (min-width: 600px) {
      max-width: 685px;
    }

    h3 {
      font-size: 20px;
      margin-bottom: 5px;
    }

    p {
      margin-bottom: 30px;
    }
  }

  .lot-tagline {
    font-weight: 500;
    line-height: 24px;
    margin-bottom: 50px;
  }

  .disclaimer {
    font-size: 12px;
    margin-top: 86px;
  }
}