.slick-slider {
  // How to add gutters
  // ====================================
  /* the slides */
  .slick-slide {
    margin: 0 5px;
    max-height: 500px;
  }

  /* the parent */
  .slick-list {
    margin: 0 -5px;
  }
}

.slick-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

.slick-next {
  right: 0;
}

.slick-prev {}

.property-main {
  margin-bottom: 10px;
}

.property-thumb {
  margin-bottom: 2rem;

  .slick-slide {
    max-height: 140px;
  }
}