@use '../abstracts/breakpoints';
@use '../abstracts/colors';

html,
body {
  font-size: 14px;
  line-height: 1.5;
  color: colors.$d1;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

.container {
  width: 100%;
  margin: auto;
  max-width: breakpoints.$container;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

h1 {
  color: colors.$m1;
}