// ================================
// Sizes
// ================================
$bp-mobile: 600px;
$bp-tablet: 900px;
$bp-small-desktop: 1024px;
$bp-desktop: 1200px;
$bp-large-desktop: 1400px;

// Other Sizes
// ================================
$container: 1180px;