// ================================
// Colors
// ================================

// Default Color
$d1: #636363 !default;

// Main Colors
$m1: #142D47 !default;
$m2: #B28D52 !default;

// Shade Colors
$s0: #000000 !default;
$s1: #142D47 !default;
$s2: #F8F8F8 !default;