.auction-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  margin: auto auto 60px;
  // max-width: 1140px;
}

.grid-filters {
  margin-bottom: 30px;
}

.grid-img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 255px;
  height: 218px;
}

.grid-info {
  padding: 10px;
}

.grid-address {
  font-size: 15px;
  font-weight: 500;
  line-height: 1.2;
  margin-top: 10px;
  min-height: 40px;
}