@use '../abstracts/colors';
@use '../abstracts/breakpoints';
@use '../abstracts/mixins';

// ================================
// Header and Branding
// ================================

.site-header {
  background-color: colors.$m1;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 20px;

  @include mixins.breakpoint(breakpoints.$bp-mobile) {
    padding: 24px 60px;
  }

  a {
    text-decoration: none;
  }
}

.site-branding {
  a {
    color: white;
  }

  .custom-logo-link {

    img {
      height: 40px;
      width: 176px;
    }
  }

  @include mixins.breakpoint(breakpoints.$bp-tablet) {
    .custom-logo-link {

      img {
        height: auto;
        width: auto;
      }
    }
  }
}

.site-title,
.site-description {
  display: none;
}

// ================================
// Main Navigation
// ================================

.main-navigation {

  // This is the UL
  .nav-menu {
    margin: 0;
    padding: 0;
    list-style-type: none;

    ul {
      margin: 0;
      padding: 0;
      list-style-type: none;
    }

    a {
      color: white;
    }

    > li {
      display: inline-block;
      margin-right: 20px;

      > a {
        padding: 15px 2px;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.menu-item-has-children {
  position: relative;

  &:hover {

    .sub-menu {
      display: block;
    }
  }

  .sub-menu {
    display: none;
    background-color: white;
    padding: 15px;
    position: absolute;
    top: 33px;
    left: 0;
    z-index: 10;

    > li {

      a {
        display: block;
        color: colors.$d1;
        padding: 0 15px 15px;
      }

      &:first-child {
        a {
          padding-top: 15px;
        }
      }
    }
  }
}

// Mobile Toggle
// ================================

.menu-toggle {
  display: none;
}